<head><link rel="stylesheet" href="/css/app.css">      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<script src="/script/api.js"></script> 
<footer>
    <p>© 2025 Pedro Dev</p>
</footer>
