<head><link rel="stylesheet" href="/css/header.css"></head>
<header>
    <h1>Lista de Tarefas</h1>
    <nav>
        <a href="index.ejs">Home</a>
        <a href="tarefas.ejs">Ver Tarefas</a>
        <a href="criar.ejs">Criar Tarefa</a>
    </nav>
</header>