<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
</head>

<header>
    <h1>Todo-list</h1>
    <nav>
        <a href="/app">Ver Tarefas</a>
        <a href="/app/create">Criar Tarefa</a>
        <a href="/auth/login">Sair</a>
    </nav>
</header>