<!DOCTYPE html>
<header>
    <h1>Todo-list</h1>
    <nav>
        <a class="btn-task" href="/app">Ver Tarefas</a>
        <a class="btn-task" href="/app/create">Criar Tarefa</a>
        <form action="/auth/logout" method="post">
            <button class="btn-logout" type="submit">Sair</button>
        </form>
    </nav>
</header>
