# Dependências
/node_modules/

# Arquivos sensíveis e configs locais
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Cache
.cache/
dist/
build/

# Sistema operacional
.DS_Store
Thumbs.db

# Editor (VS Code, por exemplo)
.vscode/
.idea/

