// codigos reutilizaveis
@use 'sass:color';

@mixin center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg, $color) {
  background-color: color.adjust($bg, $lightness: 10%);
  color: $color;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($bg, $lightness: 20%);
  }
}

@mixin style-html{
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

}