// as variables.scss
$font-stack: 'Poppins', sans-serif;
$bg-color: #3c3c3c;
$bg-login: linear-gradient(135deg, #1b1b2f, #162447);
$primary-color: #556bff;
$input-bg: #ffffff1f;
$text-light: #fff;
$link-color: #8aaaff;
$btn-secondary: #444;
$bg-card:  rgba(255, 255, 255, 0.06);
$box-shadow-card:  rgba(0,0,0,0.3);