
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401 | Não Autorizado!</title>
</head>

<body>
  <%- include('../partials/header')  %>
  <div id="containerHome">
    <h1>Acesso negado!</h1>
    <h3>Por favor faça login para continuar ou registre-se! </h3>
</div>
  <%- include('../partials/footer')  %>
</body>
</html>

