<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/css/app.css">
</head>
<body class="register-body">
    <div class="register-container">
        <div class="register-card">
            <h2>Register</h2>
            <div class="register-form">
                <% if (message) { %>
                 <div class="message msg <%= message.type %>">
                    <p>
                        <%- message.text %>
                    </p>
                 </div>
                <% } %>
                <form action="/auth/register" method="post">
                    <label for="name">Nome: </label>
                    <input type="text" name="username" id="name" >
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" >
                    <label for="password">Senha: </label>
                    <div class="tooltip-container">
  <span class="tooltip">
  <strong>A senha precisa ter no minímo:</strong>
<span class="valid-item">- 8 caracteres</span>
<span class="valid-item">- 1 letra maiúscula</span>
<span class="valid-item">- 1 letra minuscula</span>
<span class="valid-item">- 1 caractere especial</span>
<span class="valid-item">- 1 número</span></span>
                      <input  type="password" name="password" id="password">
</div>
                    <label for="confirmPassword">Confirmar Senha: </label>
                    <input type="password" name="confirmPassword" id="confirmPassword" >
                    <div class="actions">
                        <button class="btn-register" type="submit">Register</button>
                        <div class="middle-actions">
                            <a href="/auth/login">Já tem uma conta? Faça login</a>
                            <span class="char">/</span>
                            <a href="">Esqueceu a senha?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>