// global styles
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

@include style-html;

body {
    background-color: $bg-color;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: #282828;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $text-light;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-light;
}

label{
    color: $text-light;
}

button{
            @include button-style($primary-color, white);
        flex: 1;

}