<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/app.css">
  <title>Esqueceu a Senha</title>
</head>
<body class="password-body">
  <div class="password-container">
    <div class="password-card">
      <h2>Esqueceu a Senha?</h2>
      
      <% if (message) { %>
        <div class="message msg <%= message.type %>">
          <p><%= message.text %></p>
        </div>
      <% } %>

      <form action="/auth/forgetPassword" method="POST">
        <label for="email">Digite seu e-mail</label>
        <input type="email" name="email" id="email" required>

        <button type="submit">Enviar código</button>
      </form>
    </div>
  </div>

        <script type="module" src="/script/app.mjs" defer ></script>
  <%- include('../partials/footer') %>
</body>
</html>
