
<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>To-Do App</title>
</head>

<body>
  <%- include('../partials/header')  %>
  <div id="containerHome">
    <h1>Olá Bem Vindo! Ao organizador de tarefas</h1>
    <p>Seu organizador de tarefas minimalista e funcional”</p>
    <p>Carregando...</p><!-- parte de um spnineer ou texto descrevendo carregamento ao clicar-->
    <a href="/app" class="btn">Ver tarefas</a>
  </div>
  <%- include('../partials/footer')  %>
</body>
</html>

