<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <!-- <link rel="preload" href="/css/app.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
<!-- <link rel="preload" href="/css/app.css" as="style"> -->
<link rel="stylesheet" href="/css/app.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <noscript>   <link rel="stylesheet" href="../../../public/css/app.css"></noscript>
  <title>To-Do App | Login</title>
</head>

<body class="login-body">
  <div class="login-container">
    <div class="login-card">
<% if (message) { %>
  <div class="alert msg <%= message.type %>">
    <%= message.text %>
  </div>
<% } %>
      <h2>Login</h2>
<br>
              <div class="login-form">
                    <form action="/auth/login" method="POST">
                      <label for="email">Email</label>
                      <input type="email" name="email" id="email">

                      <label for="password">Senha</label>
                      <input type="password" name="password" id="password">

                      <div class="actions">
                        <div class="middle-actions">
                          <a href="/auth/register">Registrar-se</a>
                          <span>/</span>
                          <a href="/auth/forgetPassword">Esqueceu a senha?</a>

                        </div>
                        <button class="btn-login" type="submit" name="loginType" value="user">Entrar</button>
                          <button class="btn-guest" type="submit" name="loginType" value="guest">Login como
                          convidado</button>
                      </div>
                    </form>
              </div>
    </div>
        <script type="module" src="/script/app.js" defer ></script>

    <%- include('../partials/footer') %>

</body>

</html>