// footer 
@use '../utils/variables' as *;
@use '../utils/mixins' as *;


footer {
  background-color: $footer-bg;
  color: #aaa;
  text-align: center;
  padding: 0.6rem;
  font-size: 0.8rem;
  margin-top: auto;
    border-radius: 5px;
  animation: fadeIn;
  animation-duration: 2s;

}
