// header
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

@include style-html;
header {
  background-color: $header-bg;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  h1 {
    color: $text-color;
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    gap: 1.5rem;

    a {
      color: $text-color;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
