// tasks.scss ficam aqui para modelar de acordo com uma imagem q voce enviou
@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;
@use 'sass:color';

// app.ejs
.user {
  text-align: end;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  align-items: center;
    font-size: 15px;
}
.mt-5 {
  margin: 1rem auto;
  text-align: start;
}
.app {
  background-color: $bg-app;
  width: 100%;
  color: $text-color;
  display: flex;
  flex-direction: column;
    align-items: center;

  .container-app {
    width: 100%;
    max-width: 800px;
    background-color: transparent;

    h1 {
      color: $text-color;
      margin-bottom: 1rem;
    }

    .list-group {
      width: 100%;
      // background-color: $bg-task;
      border-radius: 0.5rem;
      margin: inherit;
    }

    .list-group-item {
      background-color: color.adjust($bg-task, $lightness: -3%);
      border-radius: 0.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      color: $text-color;
        margin: 0.5rem auto;
    }

    .deleteBtn {
      padding: 10px 16px;
      background: $gray-light;
      font-family: 'cursive';
      max-width: 100%;
      border: none;
      width: 100%;
      color: $text-color;
      border-radius: 5px;

    }

    .deleteBtn:hover {
      background-color: #ff4c4c;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .completedBtn {
      padding: 10px 16px;
      border: none;
      border-radius: 10px;
      background: $primary-color;
      color: white;
      font-family: 'cursive';
    }


    .btn-normal {
      color: $text-color;
      margin-top: 1rem;
      width: 100%;
      border-radius: 0.5rem;
      border: none;
        background: linear-gradient(90deg,rgb(81, 22, 242) 0%, rgb(162, 27, 255) 100%);
    }

    .btn-new-task {
      color: inherit;
      text-decoration: none;
      width: 100%;
      display: block;
      @include center-flex;
      height: 2rem;

    }


    .container-group {
      background-color: $bg-task;
      border-radius: 0.5rem;
      width: 100%;
    }

    .content-create {
      background-color: color.adjust($bg-task, $lightness: -3%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.4rem;
      padding: 1rem;
    }

    .task {
      display: block;
      width: 100%;
      padding: 0.5rem;
      border: none;
      border-radius: 1rem 0 0 1rem;
    }
    .text{
      text-align: center;
    }
    .addTaskBtn {
      border: none;
      border-radius: 0 12rem 12rem 0;
      padding: 0.5rem;
      width: 5rem;
      background-color: $gray-lighter;
      cursor: pointer;
        font-size: revert;
    }

    #title:focus {
      border: solid 2px aqua;
      outline: none;
      padding: 0.45rem;
    }

    .visually-hidden {
      width: 12rem;
      text-align: center;
    }

    .subTask {
      padding: 0.5rem 1rem;
      font-size: larger;
    }

    .groupBtn {
      display: flex;
      gap: 1rem;
    }

    .deleteBtnAll {
      width: 100%;
      padding: 10px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: #fff;
    }

    .empty-msg {
      text-align: center;
      margin: 20px auto;
      color: #777;
      font-style: italic;
      font-size: 1.2rem;
      animation: fadeIn 0.3s ease-in-out;
    }
  }
}