// tasks.scss ficam aqui para modelar de acordo com uma imagem q voce enviou
@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;
@use 'sass:color';
// app.ejs
.app {
  background-color: $bg-app;
  
  color: $text-color;
  display: flex;
  flex-direction: column;

  .user {
    text-align: end;
    padding: 1rem;
  }

  .container-app {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;

    h1 {
      color: $text-color;
      margin-bottom: 1rem;
    }

    .list-group {
      width: 100%;
      background-color: $bg-task;
      border-radius: 0.5rem;
        margin: inherit;
    }

    .list-group-item {
      background-color: color.adjust($bg-task, $lightness: -3%);
      border-radius: 0.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      color: $text-color;
    }

    .deleteBtn {
      padding: 10px 16px;
      border: none;
      border-radius: 10px;
      background: $gray-light;
      color: white;
      font-family: 'cursive';
        max-width: 100%;
    }

    .completedBtn {
      padding: 10px 16px;
      border: none;
      border-radius: 10px;
      background: $primary-color;
      color: white;
      font-family: 'cursive';
    }

    .deleteBtn:hover {
      background-color: #ff4c4c;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-normal {
      background-color: #444;
      color: $text-color;
      margin-top: 1rem;
  height: 2rem;
        width: 100%;
      border-radius: 0.5rem;
      border: none;

      a {
        color: inherit;
        text-decoration: none;
          width: 100%;
  display: block;
      }

      &:hover {
        background-color: color.scale($bg-task, $lightness: -5%);
      }
    }
  }


  .container-group {
  background-color: $bg-task;
  border-radius: 0.5rem;
  width: 100%;
}

.content-create {
  background-color: color.adjust($bg-task, $lightness: -3%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
    padding: 1rem;

  .task {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
  }
  .addTaskBtn {
  border: none;
  border-radius: 0 12rem 12rem 0;
  padding: 0px;
    padding: 0.5rem;
  width: 5rem;
  background-color: $gray-lighter;
  cursor: pointer;
  }
  #title:focus {
  border: solid 2px aqua;
  outline: none;
    padding: 0.45rem;
}
}
  

  .subTask{
  padding: 0.5rem 1rem !important;
  font-size: larger;
  }
  .groupBtn {
  display: flex;
  gap: 1rem;
}
  .deleteBtnAll{
    width: 100%;
      padding: 10px;
      background: transparent!important;
        border: none;
  cursor: pointer;
  color: #fff;
  }
  .form {
  width: 100%;
}
}

// create.ejs

